<div>Bienvenido a home.html.erb </div>

<button><%= link_to "question", question_path %></button>
<button><%= link_to "answer", answer_path %></button>
<button><%=link_to "contact", contact_path%></button>
